/* Archivo galeria.css */

.gallery {
  display: grid;
  grid-template-columns: repeat(1, minmax(150px, 1fr));
  gap: 8px;
  padding: 8px;
}

@media (min-width: 550px) {
  .gallery {
    grid-template-columns: repeat(3, minmax(150px, 1fr));
  }
}

@media (min-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(5, minmax(150px, 1fr));
  }
}

.gallery_item {
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery_item img {
  width: 100%;
  display: block;
  transition: transform .8s ease;
}

.gallery_item:hover img {
  transform: scale(1.1);
}

@media (min-width: 550px) {
  .gallery_item img {
    height: 200px;
  }
}